@using PetStoreProject.ViewModels
@model List<BookServiceViewModel>;

@{
    Layout = null;
}

<div class="card mb-4">
    <div class="card-header">Lịch Sử Đặt Lịch Dịch Vụ</div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table align-middle px-2">
                <thead>
                <th>Tên Dịch Vụ</th>
                <th>Ngày Tạo Đơn</th>
                <th>Ngày Hẹn</th>
                <th>Trạng Thái</th>
                <th>Thao Tác</th>
                </thead>
                <tbody>
                    @foreach (var orderedService in Model)
                    {
                        <tr id="order-item-@orderedService.OrderServiceId">
                            <td>@orderedService.ServiceName</td>
                            <td>@orderedService.DateCreated</td>
                            <td class="orderdate-cell">@orderedService.OrderDate</td>
                            <td class="status-cell">@orderedService.Status</td>
                            <td>
                                <a class="btn btn-primary order-service-detail-btn"
                                   data-orderserviceid="@orderedService.OrderServiceId">Chi Tiết</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>