@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .wg-filter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .form-search {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust the gap as needed */
    }

        .form-search .show {
            display: flex;
            align-items: center;
            gap: 5px; /* Adjust the gap as needed */
        }

        .form-search .date-range {
            display: flex;
            align-items: center;
            gap: 5px; /* Adjust the gap as needed */
        }

    .text-tiny {
        margin-right: 5px; /* Adjust the margin as needed */
    }

    .select select {
        width: 100px;
    }

</style>
    <!-- main-content-wrap -->
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>Tất cả phản hồi</h3>
            </div>
        @if(Model != null)
        {
            <!-- all-attribute -->
            <div class="wg-box">
                <div class="flex items-center justify-between gap10 flex-wrap">

                    <div class="wg-filter flex-grow">
                        <form id="feedbackForm" class="form-search" asp-action="list" asp-controller="feedback" method="post">
                            <div class="show">
                                <div class="text-tiny" style="width:75px; font-size:13px;">Trạng thái</div>
                                <div class="select">
                                    <select id="statusSelect" style="width:100px; text-align: center" name="status">
                                        @if (ViewBag.Status == 1)
                                        {
                                            <option value="0">Tất cả</option>
                                            <option value="1" selected>Chưa phản hồi</option>
                                            <option value="2">Đã phản hồi</option>
                                        }
                                        else if (ViewBag.Status == 2)
                                        {
                                            <option value="0">Tất cả</option>
                                            <option value="1">Chưa phản hồi</option>
                                            <option value="2" selected>Đã phản hồi</option>
                                        }
                                        else
                                        {
                                            <option value="0">Tất cả</option>
                                            <option value="1">Chưa phản hồi</option>
                                            <option value="2">Đã phản hồi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="date-range">
                                <label for="from">Từ:</label>
                                <input type="date" id="fromDate" name="from" value="@ViewBag.FirstDayOfWeek" />
                                <label for="to">Đến:</label>
                                <input type="date" id="toDate" name="to" value="@ViewBag.LastDayOfWeek" />
                            </div>
                            <button type="submit"><i class="icon-search"></i></button>
                        </form>
                    </div>

                    <a class="tf-button style-1 w208" href=""><i class="icon-refresh-cw"></i>Làm mới trang</a>
                </div>

                <div class="wg-table table-all-attribute" id="feedbackContainer">
                    <ul class="table-title flex gap20 mb-14">
                        <li style="width: 20%;">
                            <div class="body-title">Sản phẩm</div>
                        </li>
                        <li style="width: 16%;">
                            <div class="body-title">Người đánh giá</div>
                        </li>
                        <li style="width: 32%;">
                            <div class="body-title">Đánh giá</div>
                        </li>
                        <li style="width: 12%;">
                            <div class="body-title">Ngày</div>
                        </li>
                        <li style="width: 12%;">
                            <div class="body-title">Trạng thái</div>
                        </li>
                        <li style="width: 8%;">
                            <div class="body-title">Phản hồi</div>
                        </li>
                    </ul>

                    @foreach(var fb in Model)
                    {
                        <ul class="flex flex-column">
                            <li class="attribute-item flex items-center justify-between gap20">
                                <div class="name" style="width: 20%;">
									<a href="" class="body-title-2"> <p>@fb.ProductName</p></a>
                                </div>
                                <div class="body-text" style="width: 16%;">@fb.CustomerName</div>
                                <div class="body-text" style="width: 32%; word-wrap: break-word;">
                                    <p>Rating: @fb.Rating/5</p>
                                    <p>@fb.Content</p>
                                </div>
                                <div class="body-text" style="width: 12%;">@fb.CreatedDate.ToString("HH:mm:ss dd/MM/yyyy")</div>
                                @if (fb.Status)
                                {
                                    <div class="body-text" style="width: 12%; color:green">Đã phản hồi</div>
                                } else
                                {
                                    <div class="body-text" style="width: 12%; color: orange">Chưa phản hồi</div>
                                }


                                <div class="list-icon-function" style="width:8%;">
                                    <div class="item edit" id="edit-icon" data-id="@fb.FeedBackId">
                                        <i class="icon-edit-3"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="form-container hidden" id="edit-form-@fb.FeedBackId" style="margin:20px">
                            <form asp-area="Employee" asp-action="Submit" asp-controller="Feedback" method="post">
                                <input type="hidden" name="FeedBackId" value="@fb.FeedBackId"/>
                                <div>
                                    <label for="response-@fb.FeedBackId">Your Response:</label>
                                    <textarea id="response-@fb.FeedBackId" name="response" rows="2" cols="50">@fb.ContentResponse</textarea>
                                    <span id="ContentError-@fb.FeedBackId" class="text-danger"></span>
                                </div>
                                <div>
                                    <button type="submit" style="color:deepskyblue" onclick="checkFormAndSubmit(event, @fb.FeedBackId)">Submit</button>
                                    <button type="button" class="cancel-button" data-id="@fb.FeedBackId" style="color:tomato">Cancel</button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
            @* <div class="row justify-content-center">
                <button id="load-more" class="btn btn-primary col-md-3 mb-5 py-2" style="margin: 20px; font-size: 20px;">Xem thêm</button>
            </div> *@
            <!-- /all-attribute -->
        </div>
        <!-- /main-content-wrap -->
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function checkFormAndSubmit(event, feedbackId) {
        event.preventDefault();

        const responseElement = document.getElementById(`response-${feedbackId}`);
        const responseValue = responseElement.value.trim();
        const contentErrorElement = document.getElementById(`ContentError-${feedbackId}`);

        let isValid = true;

        if (!responseValue) {
            contentErrorElement.textContent = 'Nội dung không được để trống.';
            isValid = false;
        }
        else if (responseValue.length > 500) {
            contentErrorElement.textContent = 'Nội dung không được vượt quá 500 ký tự.';
            isValid = false;
        } else {
            contentErrorElement.textContent = '';
        }

        // Nếu form hợp lệ, gửi form đi
        if (isValid) {
            event.target.form.submit();
        }
    }


    document.querySelectorAll('.item.edit').forEach(editIcon => {
        editIcon.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            console.log(`Edit icon clicked, ID: ${id}`);
            const formElement = document.getElementById(`edit-form-${id}`);
            if (formElement) {
                formElement.classList.remove('hidden');
            } else {
                console.error(`Element with ID edit-form-${id} not found`);
            }
        });
    });

    document.querySelectorAll('.cancel-button').forEach(cancelButton => {
        cancelButton.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            console.log(`Cancel button clicked, ID: ${id}`);
            const formElement = document.getElementById(`edit-form-${id}`);
            if (formElement) {
                formElement.classList.add('hidden');
            } else {
                console.error(`Element with ID edit-form-${id} not found`);
            }
        });
    });

    var page = 1;
    $(document).ready(function () {
        $('#load-more').click(function () {
            page++;
            const statusSelect = document.getElementById('statusSelect').value;
            const fromDate = document.getElementById('fromDate').value;
            const toDate = document.getElementById('toDate').value;
            loadRecords(page, statusSelect, fromDate, toDate);
        });
    });


    function loadRecords(page, statusSelect, fromDate, toDate) {
        console.log(page);
        $.ajax({
            url: '@Url.Action("LoadMoreFeedback", "Feedback")',
            type: 'POST',
            data: {
                page: page,
                status: statusSelect,
                from: fromDate,
                to: toDate
            },
            success: function (response) {
                if (!response) {
                    console.error("Response bị null hoặc undefined");
                    return;
                }

                if (!response.listResult.length) {
                    alert("Bạn đã xem hết sản phẩm tìm kiếm");
                    return;
                }
                var FeedbackContainer = document.getElementById("feedbackContainer");
                var html = "";
                var items = response.listResult;
                var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
               


                for (var index = 0; index < items.length; index++) {
                    var dateTime = new Date(items[index].createdDate);

                    html += '<ul class="flex flex-column">';
                    html += '<li class="attribute-item flex items-center justify-between gap20">';
                    html += '<div class="name" style="width: 20%;">';
                    html += '<a href="" class="body-title-2"> <p>' + items[index].productName + '</p></a>';
                    html += '</div>';
                    html += '<div class="body-text" style="width: 16%;">' + items[index].customerName + '</div>';
                    html += '<div class="body-text" style="width: 32%; word-wrap: break-word;">';
                    html += '<p>Rating: ' + items[index].rating + '/5</p>';
                    html += '<p>' + items[index].content + '</p>';
                    html += '</div>';
                    html += '<div class="body-text" style="width: 12%;">' + dateTime.toLocaleDateString('vi-VN', options) + '</div>';
                    html += items[index].status ? '<div class="body-text" style="width: 12%; color:green">Replied</div>' : '<div class="body-text" style="width: 12%; color: orange">Pending</div>';
                    html += '<div class="list-icon-function" style="width:8%;">';
                    html += '<div class="item edit" id="edit-icon" data-id="' + items[index].feedBackId + '">';
                    html += '<i class="icon-edit-3"></i>';
                    html += '</div>';
                    html += '</div>';
                    html += '</li>';
                    html += '</ul>';

                    html += '<div class="form-container hidden" id="edit-form-' + items[index].feedBackId + '" style="margin:20px">';
                    html += '<form asp-area="Employee" asp-action="Submit" asp-controller="Feedback" method="post">';
                    html += '<input type="hidden" name="FeedBackId" value="' + items[index].feedBackId + '"/>';
                    html += '<div>';
                    html += '<label for="response-' + items[index].feedBackId + '">Your Response:</label>';
                    html += '<textarea id="response-' + items[index].feedBackId + '" name="response" rows="2" cols="50">' + (items[index].contentResponse ? items[index].contentResponse : '') + '</textarea>';
                    html += '<span id="ContentError-' + items[index].feedBackId + '" class="text-danger"></span>';
                    html += '</div>';
                    html += '<div>';
                    html += '<button type="submit" style="color:deepskyblue" onclick="checkFormAndSubmit(event, ' + items[index].feedBackId + ')">Submit</button>';
                    html += '<button type="button" class="cancel-button" data-id="' + items[index].feedBackId + '" style="color:tomato">Cancel</button>';
                    html += '</div>';
                    html += '</form>';
                    html += '</div>';
                }

                FeedbackContainer.innerHTML += html;


            },
            error: function () {
                alert('Đã xảy ra lỗi khi tải dữ liệu.');
            }
        });
    }
</script>


