@model IEnumerable<PetStoreProject.ViewModels.NewsViewModel>

@{
	ViewData["Title"] = "News Detail";
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <style>
		.blog-column {
			display: flex;
			flex-direction: column;
			margin: 10px;
			flex: 1;
		}

		.single-animart-blog {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			border: 1px solid #ddd;
			padding: 15px;
			box-sizing: border-box;
		}

		.grid-blog-content {
			flex-grow: 1;
		}

		.blog-post-container {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.grid-blog-content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.blog-btn {
			display: flex;
			justify-content: center;
			margin-top: auto;
		}

    </style>
</head>
<body>
	<div class="blog-area adp_top adp_bottom">
		<div class="container">
			<!-- Section Title End -->
			<div class="row justify-content-center">
				<div class="col-xl-12 col-lg-10">
					<div class="row">
						@foreach (var news in Model)
						{
							<div class="col-lg-3 col-md-3">
								<div class="single-animart-blog">
									<div class="blog-img">
										<a href="/News/Detail?newsId=@news.NewsId">
											<img  src="@news.url_thumnail" alt="blog-img">
										</a>
										<div class="publish-meta-date">
											<span>@news.DateOnly</span>
										</div>
									</div>
									<div class="grid-blog-content">
										<h4>
											<a href="/News/Detail?newsId=@news.NewsId">@news.Title</a>
										</h4>
										<ul class="blog-post-meta">
											<li>By: Animart</li>
										</ul>
										<p>@news.Description</p>
										<div class="blog-btn">
											<a href="/News/Detail?newsId=@news.NewsId">Đọc thêm</a>
										</div>
									</div>
								</div>
							</div>
						}
						

					</div>
				</div>
			</div>
			<ul class="pagination-blog">
				<li class="disabled"><a href="#"><i class="icofont-long-arrow-left"></i></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#"><i class="icofont-long-arrow-right"></i></a></li>
			</ul>
		</div>
		<!-- Container End -->
	</div>
    
</body>
</html>

