@using PetStoreProject.Areas.Admin.ViewModels
@using PetStoreProject.ViewModels
@model PetStoreProject.Areas.Admin.ViewModels.ProductCreateRequestViewModel
@{
    ViewData["title"] = "Thêm sản phẩm";
    var categories = (List<CategoryViewModel>) ViewData["categories"];
    var brands = (List<BrandViewModel>) ViewData["brands"];
    var productCategories = (List<ProductCategoryViewModel>) ViewData["productCategories"];
    var sizes = (List<SizeViewModel>) ViewData["sizes"];
    var attributes = (List<AttributeViewModel>) ViewData["attributes"];
}
@section HeadOptional {
    <script src="https://cdn.tiny.cloud/1/vmg6xq9b7kglu6elt6oqb6zuq75zntiodhgmxmgwwirj6x81/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        .delete-icon {
            position: absolute;
            top: -10px;
            right: -5px;
            color: black;
            border: none;
            padding: 5px;
        }

        textarea {
            resize: none; /* Ngăn không cho phép thay đổi kích thước */
            width:100%;
        }

        .tox-statusbar{
            display:none !important;
        }
        #notice{
            color: red;
            font-size: 11px;
        }
    </style>
    
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Thêm sản phẩm</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Sản phẩm</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Thêm mới</div>
                </li>
            </ul>
        </div>
        <!-- form-add-product -->
        <form class="tf-section-2 form-add-product" enctype="multipart/form-data" asp-action="create">
            <div class="wg-box">
                <fieldset class="name">
                    <label asp-for="Name" class="body-title mb-10">Tên sản phẩm<span class="tf-color-1">*</span></label>
                    <input class="mb-10" asp-for="Name" placeholder="Nhập tên sản phẩm">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    @* <div class="text-tiny">Do not exceed 20 characters when entering the product name.</div> *@
                </fieldset>
                <div class="gap22 cols">
                    <fieldset class="brand">
                        <label asp-for="BrandId" class="body-title mb-10">Thương hiệu</label>
                        <div class="select flex gap22" id="list-brand">
                            <select asp-for="BrandId" class="" id="brand">
                                @foreach(var brand in brands)
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                }
                            </select>
                            <input type="text" id="brandFilter" placeholder="Nhập để tìm kiếm thương hiệu ...">
                        </div>
                    </fieldset>
                </div>
                <div class="cols gap22">
                    <fieldset class="category">
                        <label asp-for="CategoryId" class="body-title mb-10">Danh mục</label>
                        <div class="select" id="category">
                            <select asp-for="CategoryId" class="">
                                @foreach (var category in categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="product-category">
                        <label asp-for="ProductCateId" class="body-title mb-10">Danh mục sản phẩm</label>
                        <div class="select">
                            <select asp-for="ProductCateId" class="" id="product-category">
                                @foreach (var productCategory in productCategories)
                                {
                                    <option value="@productCategory.Id">@productCategory.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ProductCateId" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                <fieldset class="description">
                    <label asp-for="Description" class="body-title mb-10">Mô tả sản phẩm <span class="tf-color-1">*</span></label>
                    <textarea asp-for="Description" id="description" class="mb-10" name="Description" placeholder="Nhập mô tả sản phẩm" tabindex="0" aria-required="true" required="" onchange="test()"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </fieldset>
            </div>
            <div class="wg-box">
                <fieldset>
                    <label asp-for="Options[0].Image" class="body-title mb-10">Tải ảnh lên<span class="tf-color-1">*</span></label>
                    <div class="upload-image mb-16">
                        <div class="item up-load">
                            <label class="uploadfile" for="myFile">
                                <span class="icon">
                                    <i class="icon-upload-cloud"></i>
                                </span>
                                <span class="text-tiny">Thả hình ảnh của bạn vào đây hoặc <span class="tf-color">chọn đường dẫn</span></span>
                                <input asp-for="Options[0].Image" type="file" id="myFile" name="filename" accept="image/*" onchange="previewImage(event)">
                                <span asp-validation-for="Options[0].Image"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="upload-image mb-16" id="list-image" style="overflow-x: auto">
                       
                    </div>
                </fieldset>
                <div class="gap22">
                    <fieldset class="name">
                        <label asp-for="Options[0].SizeId" class="body-title mb-10">Kích thước</label>
                        <div class="select mb-10 flex gap22" id="list-size">
                            <select asp-for="Options[0].SizeId" class="">
                                @foreach (var size in sizes)
                                {
                                    if (size.Name == null)
                                    {
                                        <option value="@size.Id">Sản phẩm không có giá trị này</option>
                                    }
                                    else
                                    {
                                        <option value="@size.Id">@size.Name</option>
                                    }
                                }
                            </select>
                            <input type="text" id="sizeFilter" placeholder="Nhập để tìm kiếm kích thước...">
                        </div>
                    </fieldset>
                    <fieldset class="name">
                        <label asp-for="Options[0].AttributeId" class="body-title mb-10">Thuộc tính</label>
                        <div class="select mb-10 flex gap22" id="list-attribute">
                            <select asp-for="Options[0].AttributeId">
                                @foreach (var attr in attributes)
                                {
                                    if (attr.Name == null)
                                    {
                                        <option value="@attr.Id">Sản phẩm không có giá trị này</option>
                                    }
                                    else
                                    {
                                        <option value="@attr.Id">@attr.Name</option>
                                    }
                                }
                            </select>
                            <input type="text" id="attributeFilter" placeholder="Nhập để tìm kiếm thuộc tính...">
                        </div>
                    </fieldset>
                    <fieldset class="name">
                        <label asp-for="Options[0].Price" class="body-title mb-10">Price</label>
                        <div class="select mb10 flex gap22" id="price">
                            <input asp-for="Options[0].Price" type="text" id="price" name="price">
                            <span asp-for="Options[0].Price" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                <div id="list-product-option" style="max-height: 155px;">
                    <div id="notice">Lưu ý: Bạn cần thêm các tùy chọn của sản phẩm trước khi bạn có thể lưu sản phẩm<span class="tf-color-1">*</span></div>
                </div>
                <div class="cols gap10">
                    <button class="tf-button w-full" onclick="addProductOption()">Thêm tùy chọn sản phẩm</button>
                    <button class="tf-button style-1 w-full" type="submit">Lưu sản phẩm</button>
                    <a href="#" class="tf-button style-2 w-full">Schedule</a>
                </div>
            </div>
        </form>
        <!-- /form-add-product -->
    </div>
    <!-- /main-content-wrap -->
</div>
@section ScriptOptional {
    <!-- Place the first <script> tag in your HTML's <head> -->
    

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        document.getElementById('sizeFilter').addEventListener('input', function () {
            let filter = this.value.toLowerCase();
            let dropdown = document.getElementById('list-size');
            let options = dropdown.getElementsByTagName('option');
            let isSelect = false;
            for (let i = 0; i < options.length; i++) {
                let option = options[i];
                let txtValue = option.textContent || option.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    option.style.display = "";
                    if(!isSelect){
                        option.selected = true;
                        isSelect = true;
                    }
                    else{
                        option.selected = false;
                    }
                } else {
                    option.style.display = "none";
                }
            }
        });

        document.getElementById('brandFilter').addEventListener('input', function () {
            let filter = this.value.toLowerCase();
            let dropdown = document.getElementById('list-brand');
            let options = dropdown.getElementsByTagName('option');
            let isSelect = false;
            for (let i = 0; i < options.length; i++) {
                let option = options[i];
                let txtValue = option.textContent || option.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    option.style.display = "";
                    if (!isSelect) {
                        option.selected = true;
                        isSelect = true;
                    }
                    else {
                        option.selected = false;
                    }
                } else {
                    option.style.display = "none";
                }
            }
        });

        document.getElementById('attributeFilter').addEventListener('input', function () {
            let filter = this.value.toLowerCase();
            let dropdown = document.getElementById('list-attribute');
            let options = dropdown.getElementsByTagName('option');
            let isSelect = false;
            for (let i = 0; i < options.length; i++) {
                let option = options[i];
                let txtValue = option.textContent || option.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    option.style.display = "";
                    if (!isSelect) {
                        option.selected = true;
                        isSelect = true;
                    }
                    else {
                        option.selected = false;
                    }
                } else {
                    option.style.display = "none";
                }
            }
        });
        tinymce.init({
            selector: '#description',
            plugins: 'lists checklist',
            toolbar: 'bold italic underline | align | checklist numlist bullist | removeformat',
            menubar: false,
            setup: function (editor) {
                editor.on('input', function () {
                    console.log(editor.getContent());
                });
            }
        });

        function previewImage(event) {
            var files = event.target.files;
            var imagesContainer = $('#list-image');

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = (function (file) {
                    return function (e) {
                        var imageContainer = $('<div>', {
                            class: 'item',
                            style: 'position: relative; min-width: 48%'
                        });

                        var img = $('<img>', {
                            src: e.target.result
                        });

                        var deleteBtn = $('<button>', {
                            class: 'delete-icon',
                            html: '<i class="icon-delete"></i>',
                            click: function () {
                                imageContainer.remove();
                            }
                        });

                        imageContainer.append(img);
                        imageContainer.append(deleteBtn);
                        imagesContainer.append(imageContainer);
                    };
                })(file);

                reader.readAsDataURL(file);
            }
        }
    </script>
}